footer {
  width: 100%;
  height: 10vh;
  background-color: #666666;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 8px solid;
}

.profile-pic {
  float: left;
  margin: 30px 20px 5px 0;
  
}

.card {
  margin: 10px;
}

h1 {
  margin: 20px 0;

}

.carousel_pic {
  height: 40vh;
}

