header {
    width: 960px;
    margin: 0 auto;
}

.my_name {
    background-color: #4aaaa5;
    color: 
}


* {
    padding: 0;
    margin: 0;
    border: ;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  
  header {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    max-height: 80px;
  }
  
  body {
    background-image: url("../images/beige-tiles.png");
    background-repeat: repeat;
  }
  
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Georgia', Times, 'Times New Roman', serif;
    }
    
    h1 {
      max-height: 80px;
      font-size: 35px;
      font-weight: normal;
      color: #4aaaa5; 
      
    }
  
  footer {
    width: 100%;
    height: 10vh;
    background-color: #666666;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 8px solid #4aaaa5;
  }
  
  ul {
    list-style-type: none;
    width: 50%;
  }
  
    .container {
      overflow: auto;
      height: auto;
      min-height: 61vh;
      max-width: 900px;
      padding: 40px;
      margin: 30px auto;
      font-family: arial, sans-serif;
      font-size: 14px;
      background-color: #ffffff;
      border: 3px solid #dddddd;
  
    }
    
  
  /* Alternate headers */
    .name {
      justify-content: flex-start;
      font-size: 35px;
      padding: 20px;
      background-color: #4aaaa5;
      color: white;
    }
  
    .profile-pic {
      float: left;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  
  /* Style the top navigation bar */
  .headerbar{
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
  }
  
  
  .topnav {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Style the topnav links */
  .topnav a {
    display: block;
    color: rgb(171, 171, 171);
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(171, 171, 171);
    color: black;
  }
  
  .vl {
    border-left-style: solid;
    border-left: 1px solid rgb(230, 230, 230);
    height: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbut {
    height: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  li {
    padding: 10px;
  }
  
  /*PORTFOLIO PAGE*/
  
    /*image gallery*/
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
  
  .grid_box {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
  }
  
    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
    }
  
    .portfolio_title {
      position: relative;
      width: 275px;
      height: 50px;
      bottom: 80px;
      background-color: #4aaaa5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
    }
  
    ._p-blank {
      background-color: #ffffff;
    }
  
    .project-pic {
      width: 275px;
      height: 205.78px;
      background-color: #ffffff;
      /* background-color: #fa03bc; */
  
    }
  
  
    legend {
      padding-top: 30px;
    }
  
    fieldset {
      border: 0;
    }
  
    form {
      /* width: 100%; */
    }
    input {
      width: 100%;
    }
  
    ._message {
      height: 150px;
    }
  
    ._submit {
      width: 200px;
      background-color: #4aaaa5;
      padding: 15px;
      color: #ffffff;
  
    }